@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

html::-webkit-scrollbar {
    width: 0.00001vw;
}

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Staatliches', cursive;
    height: 100vh;
}

.header {
    background-color: transparent;
}


.PatchNoteDate {
    color: #76b5c5;
}

/********** Toutes les grids *******/

.Total {
    display: grid;
    height: auto;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 0.7fr 2fr;
    grid-template-areas: "Jeu Maj"
        "Credits Maj";
    background-color: transparent;
}


.GridPrincipale {
    grid-area: Jeu;
    position: relative;
    background-color: #81b0bc;
    border-radius: 10px;
    margin: 5%;
    height: fit-content;

}

.Communaute {
    grid-area: Communaute;
    margin: 3%;
    position: relative;
    background-color: #2e4a6b;
    border-radius: 10px;
}

.PatchNoteNumber {
    color: white;
    font-size: 7vh;
}

.PatchNoteDescription {
    color: white;
    margin-bottom: 5%;
    font-size: 2.5vh;
}

.PatchNoteDate {
    color: white;
}

.Photo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.Separationn {
    margin-top: 10vh;
    font-size: 1vw;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 5vh;
    background-color: transparent;
    color: white;
}

.SeparationPetitPoint {
    height: 0.0001vh;
    border: 2px dashed rgba(255, 255, 255, 0.3);
    margin-top: 5%;
    margin-bottom: 5%;
}


.Maj {
    grid-area: Maj;
    margin: 5%;
    position: relative;
    background-color: #81b0bc;
    border-radius: 10px;
    overflow: auto;
    padding: 5%;
}

.Maj::-webkit-scrollbar {
    width: 0.00001vw;
}

.Gratuit {
    position: absolute;
    right: 10%;
    padding: 2%;
    top: -3%;
    background-color: #1E3248;
    border-radius: 5px;
    color: white;
}



.TitreTele {
    padding: 5%;
    padding-bottom: 0%;
    font-size: 7vh;
    color: white;
}

.DescriptionTele {
    padding-left: 5%;
    padding-bottom: 2%;
    font-size: 1.6vh;
    color: white;
}


.Credits {
    grid-area: Credits;
    margin: 5%;
    padding: 5%;
    margin-top: 0%;
    background-color: #2e4a6b;
    border-radius: 15px;
    overflow: auto;
    max-height: 65vh;
}


.SéparationPetit {
    height: 0.1vh;
    background-color: gray;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Credits::-webkit-scrollbar {
    width: 0.00001vw;
}

.CreditsTitle {
    font-family: 'Staatliches', cursive;
    font-size: 7vh;
    margin-bottom: 1vh;
    color: white;
}

.CreditsInfos {
    font-family: 'Staatliches', cursive;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: white;
}


.button {
    position: relative;
    font-family: 'Staatliches', cursive;
    margin-left: 5%;
    align-items: center;
    width: fit-content;
    display: flex;
    padding: 1vh;
    border: 0.2vw solid white;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1vh;
    cursor: pointer;
    margin-bottom: 5%;
}

.comment-button {
    font-family: 'Staatliches', cursive;
    padding: 8px 20px;
    width: 100%;
    margin-bottom: 2vh;
    background-color: #111314;
    border: 2px solid #808080;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Avis img {
    height: 3vh;
    color: white;
}

.Avis {
    position: absolute;
    display: flex;
    right: 10%;
    bottom: 15%;
    align-items: end;

}

.Avis p {
    margin-right: 1vh;
    color: white;
}


.button img {
    width: 1.7vh;
    height: 1.7vh;
    opacity: 0.7;
}

.shake {
    animation: shakeAnimation 0.2s ease-in-out;
}

@keyframes shakeAnimation {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}



.Cadenas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Cadenas {
    width: 5.5vh;
    height: 5.5vh;
    opacity: 1;
    z-index: 100;
}

#Apple {
    margin-left: 10px;
}

.button div {
    margin-right: 10px;
}

.game-name {
    font-family: 'Staatliches', cursive;
    font-size: 2vh;
}

.transparent-info {
    font-family: 'Staatliches', cursive;
    opacity: 0.7;
    font-size: 1.7vh;
}

/******** COMMENTAIRES **********/

.comment-box {
    grid-area: Communaute;
    margin: 5%;
    padding: 5%;
    background-color: #111314;
    border-radius: 15px;
    overflow: auto;
}

.comment-box::-webkit-scrollbar {
    width: 0.00001vw;
}

.comment-title {
    font-family: 'Staatliches', cursive;
    font-size: 7vh;
    margin-bottom: 1vh;
    color: white;
    word-wrap: break-word;
}

.comment-input {
    font-family: 'Staatliches', cursive;
    width: 100%;
    padding: 8px;
    background-color: #111314;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: white;
}

.comment {
    text-align: left;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;

}

.comment::-webkit-scrollbar {
    height: 1vw;
    color: white;
}

.comment::-webkit-scrollbar-thumb {
    height: 1vw;
    color: gray;
}

.comment .user {
    font-weight: bold;
    color: #7C80FC;
    margin-right: 10px;
}


@media screen and (max-width: 1300px) {
    .Total {
        display: grid;
        height: 250vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.7fr 1.3fr repeat(2, 1fr);
        grid-template-areas: "Jeu Jeu"
            "Credits Credits"
            "Communaute Communaute"
            "Maj Maj";
    }

    .Separationn p {
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    .Total {
        display: grid;
        height: 250vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr repeat(2, 1fr);
        grid-template-areas: "Jeu Jeu"
            "Credits Credits"
            "Communaute Communaute"
            "Maj Maj";
    }
}