body {
  position: relative;
  margin: 0;
  font-family: "Syne", sans-serif;
  background-color: gray;
  overflow-x: hidden;
}

#Fond{
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(3px);
  z-index: -9;
  height: 220vh;
}

.containerShop {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
}

.containerShop h1 {
  margin: 0;
  margin-bottom: 5vh;
  color: wheat;
  padding: 5vh 0;
  text-align: left;
  font-size: 10vh;
  border-bottom: 5px solid wheat;
}


.icon-cart {
  position: relative;
}

.icon-cart span {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}

.title {
  font-size: xx-large;
}

.listProduct .item img {
  width: 90%;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.listProduct .item {
  background-color: #EEEEE6;
  padding: 20px;
  border-radius: 20px;
}

.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}

.listProduct .item .price {
  letter-spacing: 2px;
  font-size: small;
}

.listProduct .item button {
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}

/* cart */
.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
  z-index: 9999;
  font-family: "Syne", sans-serif;
}

body.showCart .cartTab {
  right: 0;
}

body.showCart .containerShop {
  transform: translateX(-250px);
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
  background-color: #E8BC0E;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}

.cartTab .close {
  background-color: #eee;
}

.listCart .item img {
  width: 100%;
}

.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}

.listCart .item:nth-child(even) {
  background-color: #eee1;
}

.listCart {
  overflow: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 992px) {
  .listProduct {
      grid-template-columns: repeat(3, 1fr);
  }
}


/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
      grid-template-columns: repeat(2, 1fr);
  }
}

::selection {
  background: rgba(23, 162, 184, 0.3);
}

.wrapper__Vico {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 5vh;
}

.wrapper__Vico .box__Vico {
  max-width: 400px;
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapper__Vico .box__Vico i.quote__Vico {
  font-size: 20px;
  color: #17a2b8;
}

.wrapper__Vico .box__Vico .content__Vico {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.box__Vico .info__Vico .name__Vico {
  font-weight: 600;
  font-size: 17px;
}

.box__Vico .info__Vico .job__Vico {
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}

.box__Vico .info__Vico .stars__Vico {
  margin-top: 2px;
}

.box__Vico .info__Vico .stars__Vico i {
  color: #17a2b8;
}

.box__Vico .content__Vico .image__Vico {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}

.content__Vico .image__Vico img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.box__Vico:hover .content__Vico .image__Vico img {
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper__Vico .box__Vico {
      width: calc(50% - 10px);
      margin: 10px 0;
  }
}

@media (max-width: 702px) {
  .wrapper__Vico .box__Vico {
      width: 100%;
  }
}

.Avis {
  display: grid;
  place-items: center;
}

#Gauche {
  position: absolute;
  top: 20vh;
}