@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Syne", sans-serif;
    font-weight: bold;
    unicode-bidi: isolate;
}

body {
    background-color: rgb(60, 60, 60);
}

#main {
    background-color: rgb(60, 60, 60);
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: 75vh;
    border-radius: 100px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    padding: 30px;
    position: relative;
    text-align: center;
}

#main::before, #main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #ffffff, rgb(60, 60, 60), rgb(60, 60, 60), #ffffff, rgb(60, 60, 60), rgb(60, 60, 60));
    border-radius: 100px;
    width: 100%;
    height: 100%;
    transform: scale(1.02);
    z-index: -1;
    background-size: 500%;
    animation: animate 15s infinite;
}

#main::after {
    filter: blur(20px);
}

@keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 300% 0; }
    100% { background-position: 0 0; }
}

h1, label {
    color: white;
}

h5 {
    color: rgb(160, 160, 160);
}

label {
    font-size: 30px;
}

.formulaire {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 10vh);
    grid-template-areas: "CARD ADRESS"
                         "num country"
                         "crypto cp"
                         "date city"
                         "name adress";
}

#left {
    border-right: 1px solid white;
    align-content: center;
}

#right {
    border-left: 1px solid white;
    align-content: center;
}

.CARD {
    grid-area: CARD;
}

.ADRESS {
    grid-area: ADRESS;
}

.num {
    grid-area: num;
    color: rgb(160, 160, 160);
}

.country {
    grid-area: country;
    color: rgb(160, 160, 160);
}

.crypto {
    grid-area: crypto;
    color: rgb(160, 160, 160);
}

.city {
    grid-area: city;
    color: rgb(160, 160, 160);
}

.date {
    grid-area: date;
    color: rgb(160, 160, 160);
}

.cp {
    grid-area: cp;
    color: rgb(160, 160, 160);
}

.name {
    grid-area: name;
    color: rgb(160, 160, 160);
}

.adress {
    grid-area: adress;
    color: rgb(160, 160, 160);
}

@media (max-width: 1045px) {
    
}
  
@media (max-width: 702px) {

}
